---
layout: default
title: recepten
---
<section id="receptenSection">
	<div class="container">
		<div class="titleElement" style="background-image: url({{site.baseurl}}/img/backgrounds/MizziInDeKeuken.jpg)">
			<h1>Koken met Mizzi</h1>
		</div>
		<div class="receptenInfo">
			<div id="receptSuffice">
				<p class="suffice">ontbijt <i class="fa fa-bus" aria-hidden="true"></i></p>
				<p class="suffice">tussendoortje <i class="fa fa-bell" aria-hidden="true"></i></p>
				<p class="suffice">lunch <i class="fa fa-certificate" aria-hidden="true"></i></p>
				<p class="suffice">diner <i class="fa fa-cutlery" aria-hidden="true"></i></p>
				<p class="suffice">side-dish <i class="fa fa-check-square" aria-hidden="true"></i></p>
				<p class="suffice">toetje <i class="fa fa-cloud-download" aria-hidden="true"></i></p>
				<p class="suffice">left-overs <i class="fa fa-eraser" aria-hidden="true"></i></p>
			</div>
			<p id="searchIcon" onclick=""><i class="fa fa-search" aria-hidden="true"></i></p>
		</div>
		<div class="contentNav height0">
			{% for recept in site.recepten %}
				<a href="{{site.baseurl}}{{recept.url}}">{{ recept.title }}
					{% if recept.ontbijt %}
	        <i class="fa fa-bus" aria-hidden="true"></i>
	        {% endif %}
	        {% if recept.tussendoortje %}
	        <i class="fa fa-bell" aria-hidden="true"></i>
	        {% endif %}
	        {% if recept.lunch %}
	        <i class="fa fa-certificate" aria-hidden="true"></i>
	        {% endif %}
	        {% if recept.diner %}
	        <i class="fa fa-cutlery" aria-hidden="true"></i>
	        {% endif %}
	        {% if recept.sideDish %}
	        <i class="fa fa-check-square" aria-hidden="true"></i>
	        {% endif %}
	        {% if recept.toetje %}
	        <i class="fa fa-cloud-download" aria-hidden="true"></i>
	        {% endif %}
	        {% if recept.leftOvers %}
	        <i class="fa fa-eraser" aria-hidden="true"></i>
	        {% endif %}
				</a>
			{% endfor %}
		</div>
		<div class="row">
			{% for recept in site.recepten %}
				<div  class="col-lg-3 col-sm-6">
					<div class="gridSpace receptCard">
						<h2><a href="{{site.baseurl}}{{recept.url}}">{{ recept.title }}</a></h2>
						<div onclick="" class="receptInfoCard">
							<div class="receptInfo">
								<strong><p>{{ recept.intro }}</p></strong>
								<p><i class="fa fa-clock-o" aria-hidden="true"></i>  {{ recept.time }}  min
									{% if recept.ontbijt %}
					        <i class="fa fa-bus" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.tussendoortje %}
					        <i class="fa fa-bell" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.lunch %}
					        <i class="fa fa-certificate" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.diner %}
					        <i class="fa fa-cutlery" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.sideDish %}
					        <i class="fa fa-check-square" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.toetje %}
					        <i class="fa fa-cloud-download" aria-hidden="true"></i>
					        {% endif %}
					        {% if recept.leftOvers %}
					        <i class="fa fa-eraser" aria-hidden="true"></i>
					        {% endif %}
								</p>
							</div>
						</div>
						<div class="cuttingBoard">
							<img src="{{site.baseurl}}/img/recepten/{{recept.imageName}}" alt="">
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="info">
			<h2>Meer over Mizzi</h2>
			<p>{% include pages/home/mizziInfo.md  %}</p>

		</div>
	</div>
</section>
