$logoColor: green
$hoverColor: #ffb63a
$textColor: #2c3925
$backgroundColor: #fefec8
$borderRadius: 20px
$borderRadiusMedium: 15px
$borderRadiusSmal: 10px
$cardBorderPadding: 10px
$titleTextColor: #f17a04
