$logoColor: orchid
$hoverColor: #8A2BE2
$textColor: #444444
$grayBackground: #DCDCDC
$borderRadius: 20px
$borderRadiusMedium: 15px
$borderRadiusSmal: 10px
$cardBorderPadding: 10px
$titleTextColor: darkorchid
