<section id="cardsSection">

  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-sm-6">
        <div id="card1" class="gridSpace card">
          <div onclick="" class="fadeCard">
            <div class="cardInfo">
              <h3>Wat leuk dat jij Bloei en Leef gevonden hebt! En natuurlijk stellen wij ons graag aan jou voor</h3>
              <a href="{{ site.baseurl }}/bloei-en-leef"><h4>lees meer</h4></a>
            </div>
            <a href="{{ site.baseurl }}/bloei-en-leef"><h2>Bloei & Leef?</h2></a>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-sm-6">
        <div id="card2" class="gridSpace card">
          <div onclick="" class="fadeCard">
            <div class="cardInfo">
              <h3>Heb jij behoefte aan een weekend voor jezelf?</h3>
              <a href="{{site.baseurl}}/weekenden-en-retraites"><h4>lees meer</h4></a>
            </div>
            <a href="{{site.baseurl}}/weekenden-en-retraites"><h2>weekenden & retraites</h2></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div id="card3" class="gridSpace card">
          <div onclick="" class="fadeCard">
            <div class="cardInfo">
              <h3>Wil je meer balans tussen lichaam, leven en werk?</h3>
              <a href="{{ site.baseurl }}/"><h4>lees meer</h4></a>
            </div>
            <a href="#"><h2>coaching</h2></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div id="card4" class="gridSpace card">
          <div onclick="" class="fadeCard">
            <div class="cardInfo">
              <h3>allemaal blogs!</h3>
              <a href="{{ site.baseurl }}/blogs"><h4>lees meer</h4></a>
            </div>
            <a href="{{ site.baseurl }}/blogs"><h2>blogs</h2></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12">
        <div id="card5" class="gridSpace card">
          <div onclick="" class="fadeCard">
            <div class="cardInfo">
              <h3>Eigengemaakt Lekkers!</h3>
              <a href="{{ site.baseurl }}/recepten"><h4>lees meer</h4></a>
            </div>
            <a href="{{ site.baseurl }}/recepten"><h2>gezond eten</h2></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
