<section id="headerSection" class="header2">
  <div class="logo">{% include logos/logo-Bloei-en-Leef.svg %}</div>
  <div class="kicker">
    <h1 id="kickerText">Herontdekken wie je werkelijk bent</h1>
    <h4>lees meer</h4>
  </div>

  <div class="circles">
    <div onclick="" class="circle" id="circle1"><i class="fa fa-sun-o" aria-hidden="true"></i></div>
    <div onclick="" class="circle selected" id="circle2"><i class="fa fa-heart" aria-hidden="true"></i></div>
    <div onclick="" class="circle" id="circle3"><i class="fa fa-question" aria-hidden="true"></i></div>
  </div>

</section>
