//titleElement gets sass from _sass/general/page.sass
#receptenSection, #weetjesSection, #blogsSection
  .receptenInfo
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    #receptSuffice
      display: flex
      flex-direction: row
      flex-wrap: wrap
      .suffice
        margin-right: 20px
    #searchIcon
      align-self: flex-end
      margin-left: auto
      margin-bottom: auto
      &:hover
        cursor: pointer
  .contentNav
    display: flex
    flex-direction: column
    overflow: hidden
  .height0
    height: 0
  .heightAuto
    height: auto
  .receptCard
    background-position: center
    background-size: cover
    padding: $bl-card-border-padding
    border-radius: $bl-border-radius
    h2
      background-color: rgba( 0,0,0,0.5)
      padding: 10px
      border-radius: $bl-border-radius-smal
      word-wrap: break-word
      margin: 10px
      a
        color: white
        &:hover
          color: $bl-green
    .receptInfoCard
      margin: 0 10px
      .receptInfo
        color: white
        text-shadow: 2px 2px 5px black, 2px -2px 5px black, -2px 2px 5px black, 0px 0px 15px black
        padding: 10px
      .receptIntro
        padding: 10px
        border-radius: $bl-border-radius-smal
        margin-bottom: 10px
        opacity: 0
      &:hover
        background-color: rgba( 255,255,255,0.9)
        border-radius: $bl-border-radius-smal
    .receptInfoCard:hover .receptIntro
      opacity: 1
    .receptInfoCard:hover .receptInfo
      color: $bl-text-color
      text-shadow: none
